{
  email {$CADDY_ACME_EMAIL:contact@scanlark.com}
}

{$SCANLARK_DOMAIN:app.scanlark.com} {
  encode zstd gzip

  handle /api/events/stream {
    uri strip_prefix /api
    reverse_proxy api:3001 {
      flush_interval -1
    }
  }

  handle_path /api/* {
    reverse_proxy api:3001
  }

  handle {
    reverse_proxy web:80
  }
}
